/** ====== Imported styles ====== **/

@import url('imported.css');

/** ====== Global styles ====== **/

img {
	max-width: 100%;
}
a, a:hover, a:active, a:focus {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
ul, li {
	margin: 0;
	padding: 0;
}